.idea
.gradle
**/build/
!src/**/build/
**/main/resources/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

artifacts
apps
.DS_Store
